<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503489263375-cqlac6djkq30c3rrcopes81jqvpjcd2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503489263375-cqlac6djkq30c3rrcopes81jqvpjcd2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4vM4LB2W4Pzd2NTGdRrrbqxKP5SXG8c</string>
	<key>GCM_SENDER_ID</key>
	<string>503489263375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.CareerReady</string>
	<key>PROJECT_ID</key>
	<string>career-ready-9f66d</string>
	<key>STORAGE_BUCKET</key>
	<string>career-ready-9f66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503489263375:ios:63d1d8f4aae150bec2b07a</string>
</dict>
</plist>